### feladat: írjatok egy függvényt, ami:
- két listát fogad paraméternek, melyek egy-egy múltbéli dátumot tartalmaznak
- mindkét lista három elemű az első az évet, a 2. a hónapot a 3. pedig a napot jelöli
- a függvény visszatérési értéke pedig két szám ami a mai dátum és a bemeneti paraméterként megadott két dátum között eltelt napok száma

#### Segítség:
- Figyeljetek rá, hogy Pythonban **nullától kezdődik az indexelés**!
- Lista elemeire a következő képpen hivatkozunk: lista_valtozo[0] - visszaadja az első elemet, lista_valtozo[1] - visszaadja a második elemet ...
- 31 napos hónapok: [1, 3, 5, 7, 8, 10, 12]
- Létezik az in operátor, ami azt vizsgálja meg, hogy egy adott érték eleme e egy másoknak.
- Pl. "a" in "asd" kifejezés értéke True, ezt listákra is lehet alkalmazni

----------------------------

**ezek lesznek a függvény paraméterei (futtasátok a cellát Ctrl + Enter-rel)**

In [354]:
input_list1 = [1970, 3, 20]
input_list2 = [1905, 3, 29]

**ennél pedig remélhetőleg írtok egy jobb függvényt :)**

utána az előzőhöz hasonlóan futtassátok a cellát Ctrl+Enter-rel

In [355]:
import datetime

def own_func(p1, p2):
    most = datetime.datetime.now()
    most_datum = [most.year, most.month, most.day] 
    
    szokoev = lambda ev: (ev % 4 == 0 and ev % 100 != 0) or (ev % 400 == 0)
        
    def krisztustol(date):
        tobb_nap = [1, 3, 5, 7, 8, 10, 12]
        
        evek = date[0] * 365
        evek += len([*filter(szokoev, [*range(0, date[0])])])
            
        honapok = 0
        for honap in range(1, date[1]):
            if honap == 2:
                honapok += 28
            elif honap in tobb_nap:
                honapok += 31
            else:
                honapok += 30
        
        if (date[1] > 2) and szokoev(date[0]):
            honapok += 1
            
        napok = date[2]
        
        return evek + honapok + napok
    
    return abs(krisztustol(p1) - krisztustol(most_datum)), abs(krisztustol(p2) - krisztustol(most_datum))

In [356]:
own_func(input_list1, input_list2)

(18517, 42249)

----------------------------

### itt tudjátok leellenőrizni, hogy jó-e a függvény, amit írtatok

- az own_func helyére írjátok be a saját függvényetek nevét
- a p1 és p2 helyére írjatok tetszőleges paramétereket: két listát **[év, hónap, nap] formátumban!**), ezzel ellenőrzitek a függvényt
- futtassátok a cellát Ctrl + Enter-rel!

In [357]:
from func import check_day
check_day(own_func, input_list1, input_list2)

Gratulálok! Megoldottad a feladatot!

### func.py függvény javítása
Ez a lenti függvény a check_day fv mögötti algoritmus. (ld. func.py)

In [358]:
def cal_diff(ev, honap, nap):
    now = datetime.datetime.now()
    most_ev = now.year
    most_honap = now.month
    most_nap = now.day
    
    eltelt_evek = most_ev - ev
    eltelt_napok = eltelt_evek * 365
    
    szokonapok = 0
    while eltelt_evek >= 0:
        szokonapok += 1
        eltelt_evek -= 4
        
    eltelt_napok += szokonapok
    
    if most_honap > honap:
        for kul_honap in range(honap, most_honap):
            if kul_honap in [1, 3, 5, 7, 8, 10, 12]:
                eltelt_napok += 31
            elif kul_honap == 2:
                eltelt_napok += 28
            else:
                eltelt_napok += 30
    else:
        for kul_honap in range(most_honap, honap):
            if kul_honap in [1, 3, 5, 7, 8, 10, 12]:
                eltelt_napok -= 31
            elif kul_honap == 2:
                eltelt_napok -= 28
            else:
                eltelt_napok -= 30
        
    eltelt_napok += most_nap - nap
    
    return eltelt_napok

def day_diff(inp1, inp2):
    return cal_diff(inp1[0], inp1[1], inp1[2]), cal_diff(inp2[0], inp2[1], inp2[2])

Először lecsekkoltam pár napot, és nem tűntek jónak. Ezután írtam egy olyan függvényt, ami biztostosan jó megoldást ad. Írtam egy olyan függvény is, ami csekkolja, hogy az own_func vagy a day_diff függvény jól működik-e.

**Itt tudod csekkolni a szökőévek számát:** https://miniwebtool.com/leap-years-list/?start_year=1670&end_year=2020

**Itt pedig az eltelt napokat:** https://www.calculator.net/date-calculator.html?today=01%2F01%2F1670&ageat=11%2F28%2F2020&calctype=diff&useholiday=1&hdny=1&hdml=1&hdpd=1&hdmd=1&hdid=1&hdld=1&hdcd=1&hdvd=1&hdtx=1&hdxm=1&n0=&m0=&d0=&n1=&m1=&d1=&n2=&m2=&d2=&n3=&m3=&d3=&n4=&m4=&d4=&n5=&m5=&d5=&n6=&m6=&d6=&n7=&m7=&d7=&n8=&m8=&d8=&n9=&m9=&d9=&n10=&m10=&d10=&n11=&m11=&d11=&n12=&m12=&d12=&n13=&m13=&d13=&n14=&m14=&d14=&n15=&m15=&d15=&n16=&m16=&d16=&n17=&m17=&d17=&n18=&m18=&d18=&n19=&m19=&d19=&x=81&y=30

In [359]:
import datetime

def tutijo(inp1, inp2):
    
    def calc_delta(input_date):
        now = datetime.datetime.now()

        date = datetime.datetime(*input_date)

        delta = now - date

        return delta.days

    return calc_delta(inp1), calc_delta(inp2)

import pandas as pd

def check_func(range_n):
    chech_table = pd.DataFrame()
    chech_table['inp'] = pd.date_range('1/01/1678', '11/29/2020', periods = range_n)
    chech_table['inp'] = chech_table['inp'].apply(lambda date: [date.year, date.month, date.day])
    chech_table['tutijo'] = chech_table.apply(lambda df: tutijo(df['inp'], df['inp']), axis = 1)
    chech_table['own_func'] = chech_table.apply(lambda df: own_func(df['inp'], df['inp']), axis = 1)
    chech_table['day_diff'] = chech_table.apply(lambda df: day_diff(df['inp'], df['inp']), axis = 1)
    if chech_table['tutijo'].equals(chech_table['own_func']):
        print('Own_func jó!')
    else:
        print('Own_func rossz!')

    if chech_table['tutijo'].equals(chech_table['day_diff']):
        print('Day_diff jó!')
    else:
        print('Day_diff rossz!')
    return chech_table

In [360]:
chech_table = check_func(1000)

chech_table

Own_func jó!
Day_diff rossz!

               inp            tutijo          own_func          day_diff
0     [1678, 1, 1]  (125245, 125245)  (125245, 125245)  (125248, 125248)
1     [1678, 5, 6]  (125120, 125120)  (125120, 125120)  (125123, 125123)
2     [1678, 9, 8]  (124995, 124995)  (124995, 124995)  (124998, 124998)
3    [1679, 1, 12]  (124869, 124869)  (124869, 124869)  (124872, 124872)
4    [1679, 5, 17]  (124744, 124744)  (124744, 124744)  (124747, 124747)
..             ...               ...               ...               ...
995  [1970, 4, 12]    (18494, 18494)    (18494, 18494)    (18494, 18494)
996  [1970, 4, 12]    (18494, 18494)    (18494, 18494)    (18494, 18494)
997  [1970, 4, 12]    (18494, 18494)    (18494, 18494)    (18494, 18494)
998  [1970, 4, 12]    (18494, 18494)    (18494, 18494)    (18494, 18494)
999  [1970, 4, 12]    (18494, 18494)    (18494, 18494)    (18494, 18494)

[1000 rows x 4 columns]

Ha jobban átnézzük látható, hogy **minden 4-el osztható évet szökőévnek vesz, holott a 100-al osztható, de 400-al nem oszható évek nem szökőévek.**

A szökőév hiba miatt, ha belevesszük az 1900-as évet, akkor már lesz egy nap eltérés. Ha 1800-at is, akkor már 2 nap a különbség és így tovább.

-------------------------

Ezek alapján a lenti módosítást ajánlom a func.py cal_diff függvényében:

In [361]:
def cal_diff(ev, honap, nap):
    now = datetime.datetime.now()
    most_ev = now.year
    most_honap = now.month
    most_nap = now.day
    
    eltelt_evek = most_ev - ev
    eltelt_napok = eltelt_evek * 365
    
    szokoev = lambda ev: (ev % 4 == 0 and ev % 100 != 0) or (ev % 400 == 0)
    szokonapok = len([*filter(szokoev, [*range(ev + 1, most_ev)])])
    
    if szokoev(most_ev) and most_honap > 2:
        szokonapok += 1
    
    if szokoev(ev) and honap < 3:
        szokonapok += 1
        
#     szokonapok = 0
#     while eltelt_evek >= 0:
#         szokonapok += 1
#         eltelt_evek -= 4
#     print(szokonapok)
    eltelt_napok += szokonapok
    
    if most_honap > honap:
        for kul_honap in range(honap, most_honap):
            if kul_honap in [1, 3, 5, 7, 8, 10, 12]:
                eltelt_napok += 31
            elif kul_honap == 2:
                eltelt_napok += 28
            else:
                eltelt_napok += 30
    else:
        for kul_honap in range(most_honap, honap):
            if kul_honap in [1, 3, 5, 7, 8, 10, 12]:
                eltelt_napok -= 31
            elif kul_honap == 2:
                eltelt_napok -= 28
            else:
                eltelt_napok -= 30
        
    eltelt_napok += most_nap - nap
    
    return eltelt_napok

Így már mindkét megoldás helyes

In [362]:
chech_table = check_func(1000)

chech_table

Own_func jó!
Day_diff jó!

               inp            tutijo          own_func          day_diff
0     [1678, 1, 1]  (125245, 125245)  (125245, 125245)  (125245, 125245)
1     [1678, 5, 6]  (125120, 125120)  (125120, 125120)  (125120, 125120)
2     [1678, 9, 8]  (124995, 124995)  (124995, 124995)  (124995, 124995)
3    [1679, 1, 12]  (124869, 124869)  (124869, 124869)  (124869, 124869)
4    [1679, 5, 17]  (124744, 124744)  (124744, 124744)  (124744, 124744)
..             ...               ...               ...               ...
995  [1970, 4, 12]    (18494, 18494)    (18494, 18494)    (18494, 18494)
996  [1970, 4, 12]    (18494, 18494)    (18494, 18494)    (18494, 18494)
997  [1970, 4, 12]    (18494, 18494)    (18494, 18494)    (18494, 18494)
998  [1970, 4, 12]    (18494, 18494)    (18494, 18494)    (18494, 18494)
999  [1970, 4, 12]    (18494, 18494)    (18494, 18494)    (18494, 18494)

[1000 rows x 4 columns]